
body {
	font:Helvetica, arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight:500;
}

.top-margin{
	margin-top:1em;
}

#guessing-frame {
}

#wrapper {
	margin-bottom:5em;
}
form {
	width:80%;
	margin: 0 auto;
}

#customer-swatch {
	border:1px solid #333;
	border-radius:5px;
	width:50%;
	max-height:70%;
	margin:0 auto;
	margin-top:1em;
}

#paint-can {
	border:6px solid rgb(179, 175, 172);
	border-radius:50%;
	max-height:90%;
	width:18em;
	margin:0 auto;
	margin-top:1em;
	box-shadow: 4px 3px 2px rgba(79, 75, 72, 0.6) inset;
	background-color: #fff;
}

#paint-can-rim {
	border:5px solid silver;
	border-radius:50%;
	height:100%;
	width:20em;
	margin: 0 auto;
	box-shadow: 4px 3px 2px rgba(79, 75, 72, 0.7);
	background-color:rgb(233, 228, 224);
}

.game-label {
	max-height:1em;
	margin-bottom:1em;
}



#game-frame div {
	height:20em;
}

#swatch-handle {
	border:2px solid rgb(228, 162, 97);
	border-top:none;
	background-color:rgb(238, 172, 107);
	max-height:5em;
	width:2em;
	margin: 0 auto;
}

.center {
	text-align: center;
	left-margin:0 auto;
	right-margin:0 auto;
}

.stats {
	font-size:1.2em;
}

#stats {
	margin-top:5em;
}
#stats div {
	text-align: center;
}

.red {
	color:red;
}

.black {
	color:#333;
}

#scoreFlash {
	color:gold;
	padding-left:0.2em;
}
