/* reset.css */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End reset.css */

body {
	width:100%;
	font: 1em Helvetica, arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight:300;
	color: #333333;
}
.main {
	width:100%;
	margin: 0 auto;
	text-align:center;
}


h1, h3, h4 {
	font-weight:600;
	padding:5em 0.5em 5em 0.5em;
}

h1 {
	padding-left:2em;
	text-align:left;
	font-size:1.8em;
}

h3 {
	font-size:1.4em;
}

h4 {
	font-size: 1.2em;
}
.cage {
	border:5px dashed #333;
}

.pad {
	padding:1.5em;
}

.reverse {
	-ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.margin {
	margin-left:1.5em;
	margin-bottom:1.5em;
	margin-right:1.5em;
}

.imp {
	color:#159;
}


